<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Markcraft</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <style>
    .text-markcraft {
      color: #21ca70;
    }

    .bg-markcraft {
      background-color: #21ca70;
    }

    @font-face {
      font-family: "Orbit-Regular";
      src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2")
        format("woff2");
      font-weight: normal;
      font-style: normal;
    }

    .logo {
      font-family: "Orbit-Regular";
    }
  </style>
  <nav class="container mx-auto">
    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost lg:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"
              />
            </svg>
          </label>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
          >
            <li><a href="/classroom.html">강의실</a></li>
            <li><a href="/timeattack.html">타임어택</a></li>
            <li><a href="/note.html">연습장</a></li>
          </ul>
        </div>
        <a
          href="/index.html"
          class="logo btn btn-ghost normal-case text-xl text-markcraft"
          >Markcraft</a
        >
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a href="/classroom.html">강의실</a></li>
          <li><a href="/timeattack.html">타임어택</a></li>
          <li><a href="/note.html">연습장</a></li>
        </ul>
      </div>
      <div class="navbar-end">
        <a class="btn">로그아웃</a>
      </div>
    </div>
  </nav>
  <body>
    <main class="container mx-auto p-5">
      <h1 class="text-center text-3xl font-bold">타임어택</h1>
      <p class="text-6xl text-center mt-10">00:00:00</p>
      <div class="text-center text-gray-400 mb-10">
        <p class="">현재 최고 기록</p>
        <span class="">00:59:00</span>
      </div>
      <div class="text-center">
        <progress
        class="progress progress-success w-56"
        value="40"
        max="100"
        ></progress>
        <p class="text-gray-400">0/10</p>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2 px-20">
          <p class="text-center fond-bold text-xl my-5">답안지</p>
          <textarea
            class="w-full textarea textarea-success"
            rows="5"
          ></textarea>
        </div>
        <div class="w-full lg:w-1/2 px-20">
          <p class="text-center fond-bold text-xl my-5">문제</p>
          <div class="border-2 p-5 border-success rounded-xl">프리뷰</div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-success text-white btn-lg my-10">제출</button>
      </div>
    </main>
  </body>
</html>
