{% extends "layout/base.html" %}
<!-- 레이아웃 -->
{% block body %}
<!-- 네비게이션바 -->
{% include 'common/navbar.html' %}
<main class="container mx-auto p-5">
  <h1 class="text-center text-3xl font-bold logo text-markcraft">타임어택</h1>
  <p id="currentTime" class="text-6xl text-center mt-10">00:00</p>
  <div class="text-center text-gray-400 mb-10">
    <p class="">현재 1위 기록</p>
    <span id="bestTime" class="">{{ formattedBestTime }}</span>
  </div>
  <div class="text-center">
    <progress id="progress-bar" class="progress progress-success w-56"></progress>
    <p id="progress-text" class="text-gray-400"></p>
  </div>
  <div class="flex flex-wrap">
    <div class="w-full lg:w-1/2 px-20">
      <p class="text-center fond-bold text-xl my-5">답안지</p>
      <textarea id="userInput" class="w-full textarea textarea-success" rows="5"></textarea>
    </div>
    <div class="w-full lg:w-1/2 px-20">
      <p class="text-center fond-bold text-xl my-5">문제</p>
      <div id="correctOutput" class="border-2 p-5 border-success rounded-xl" style="display: none"></div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-success text-white btn-lg my-10">시작</button>
  </div>
  </div>

</main>

<script>
  timeAttack();
</script>
{% endblock %}