<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}         
            <input type="hidden" name="Error" id="ErrorInput" value="{{message}}">
        {% endfor %}
    {% endwith %}
    <script>
        const error = document.querySelector("#ErrorInput")
        document.addEventListener("DOMContentLoaded", () => {
            alert(error.value)
            window.location.replace("/signin")
        })
    </script>
</body>
</html>