{% extends "layout/base.html" %}
<!-- 레이아웃 -->
{% block body %}
<!-- 네비게이션바 -->
{% include 'common/navbar.html' %}
<!-- daisyUI로 인해 h태그 기본 스타일이 초기화되는 문제 해결 -->
<link rel="stylesheet" type="text/css" href="/static/markdown.css" />
<main class="container mx-auto p-5">
  <h1 class="text-center text-3xl font-bold logo text-markcraft mb-10">연습장</h1>
  <div class="flex flex-wrap">
    <div class="w-full lg:w-1/2 px-20">
      <p class="text-center fond-bold text-xl my-5 mb-5">
        자유롭게 마크다운을 작성하세요
      </p>
      <textarea id="practiceInput" class="border-2 w-full textarea textarea-success h-96"></textarea>
        <div class="text-center mt-5"> 
          <button class="btn btn-outline btn-error btn-sm" onclick="resetAllContext()">내용 지우기 🧹</button>
        </div>
    </div>
    <div class="w-full lg:w-1/2 px-20">
      <p class="text-center fond-bold text-xl my-5 mb-5">마크다운 미리보기</p>
      <div id="previewOutput" class="border-2 p-5 border-success rounded-xl h-96 overflow-y-auto"></div>
    </div>
  </div>
  </div>

</main>

<script>
  initializeRealTimeRendering();
</script>
{% endblock %}