/* * {
    margin:0;
    padding:0;
} */

@font-face {
  font-family: "Orbit-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.text-markcraft {
  color: #21ca70;
}

.bg-markcraft {
  background-color: #21ca70;
}

.logo {
  font-family: "Orbit-Regular";
}

/* 백틱 관련 CSS*/
/* 코드 블록 스타일링 */
pre {
  background-color: #282c34;
  /* 어두운 배경색 */
  border-radius: 5px;
  /* 모서리 둥글게 */
  padding: 15px;
  /* 안쪽 여백 */
  overflow-x: auto;
  /* 가로 스크롤 */
  color: #a9b7c6;
  /* 텍스트 색상 */
  margin-top: 10px;
  /* 위 여백 */
  margin-bottom: 10px;
  /* 아래 여백 */
}

/* 인라인 코드 스타일링 (백틱 사용) */
code {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
}

/* 블록 내 코드 스타일링 */
pre > code {
  background-color: transparent;
  /* 배경색 없음 */
  border: none;
  /* 테두리 없음 */
  padding: 0;
  /* 안쪽 여백 없음 */
  color: inherit;
  /* 부모 요소의 색상 상속 */
}

/* 폭죽 */

@keyframes fireworks {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
