{% extends "layout/base.html" %}
<!-- 레이아웃 -->
{% block body %} {% if isLoggedIn %} {% include 'common/navbar.html' %} {% else %}
<div class="mt-10"></div>
{% endif %}
<main class="container mx-auto lg:w-1/3 p-5">
  {% include 'common/logo.html' %}
  <div class="mt-10">
    <p>
      마크다운(Markdown)은 일반 텍스트 기반의 경량 마크업 언어입니다. 일반
      텍스트로 서식이 있는 문서를 작성하는 데 사용되며, 일반 마크업 언어에 비해
      문법이 쉽고 간단한 것이 특징입니다. HTML과 리치 텍스트 등 서식 문서로 쉽게
      변환되기 때문에 응용 소프트웨어와 함께 배포되는 README 파일이나 온라인
      게시물 등에 많이 사용됩니다.
      <span
        ><a
          href="https://www.markdownguide.org/tools/obsidian/"
          target="_blank"
          class="link link-primary"
          >옵시디언</a
        ></span
      >,
      <span
        ><a href="https://velog.io/" target="_blank" class="link link-primary"
          >벨로그</a
        ></span
      >,
      <span
        ><a href="https://www.markdownguide.org/tools/github-pages/" target="_blank" class="link link-primary"
          >깃허브</a
        ></span
      >,
      <span
        ><a href="https://www.markdownguide.org/tools/discord/" target="_blank" class="link link-primary"
          >디스코드</a
        ></span
      >,
      <span
        ><a href="https://www.markdownguide.org/tools/slack/" target="_blank" class="link link-primary"
          >슬랙</a
        ></span
      >
      등에서 마크다운이 사용됩니다.
      <span class="font-bold text-markcraft"
        >지금 마크크래프트로 몰입해서 마크다운을 익혀보세요.🤗</span
      >
    </p>
  </div>
  <h2 class="text-center text-3xl text-gray-400 font-bold mt-5">Ranking</h2>
  <div class="flex flex-wrap">
    <div class="w-full lg:w-1/3 p-1">
      <div class="card bg-primary text-white">
        <div class="card-body text-center">
          <h2 class="card-title text-6xl mx-auto">🥈</h2>
          <p class="mt-5 text-sm">{{ ranker_2.nickname }}</p>
          <p>{{ ranker_2.bestTime }}</p>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/3 p-1">
      <div class="card bg-secondary text-white">
        <div class="card-body text-center">
          <h2 class="card-title text-6xl mx-auto">🥇</h2>
          <p class="mt-5 text-sm">{{ ranker_1.nickname }}</p>
          <p>{{ ranker_1.bestTime }}</p>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/3 p-1">
      <div class="card bg-accent text-white">
        <div class="card-body text-center">
          <h2 class="card-title text-6xl mx-auto">🥉</h2>
          <p class="mt-5 text-sm">{{ ranker_3.nickname }}</p>
          <p>{{ ranker_3.bestTime }}</p>
        </div>
      </div>
    </div>
  </div>
  <p class="text-right text-gray-400">
    기본 문법을 익힌 후 타임어택에 도전해 보세요🔥
  </p>
  <div class="text-center my-10">
    {% if isLoggedIn == False %}
    <a href="/signin" class="btn btn-lg w-full bg-success text-white"
      >무료로 마크다운 배우기 🚀</a
    >
    {% else %}
    <a href="/classroom" class="btn btn-lg w-full bg-success text-white"
      >강의실 입장하기 🚀</a
    >
    {% endif %}
  </div>
</main>
{% endblock %}
