{% extends "layout/base.html" %}
<!-- 레이아웃 -->
{% block body %} {% include 'common/navbar.html' %}
<link rel="stylesheet" type="text/css" href="/static/markdown.css" />
<div class="text-center overflow-x-auto">
  <ul class="steps text-xs">
    <li class="step hover:cursor-pointer step-success" onclick="go(1)">헤더</li>
    <li class="step hover:cursor-pointer step-success" onclick="go(2)">
      줄바꿈
    </li>
    <li class="step hover:cursor-pointer step-success" onclick="go(3)">
      수평선
    </li>
    <li class="step hover:cursor-pointer step-success" onclick="go(4)">
      스타일
    </li>
    <li class="step hover:cursor-pointer step-success" onclick="go(5)">인용</li>
    <li class="step hover:cursor-pointer step-success" onclick="go(6)">
      코드블록
    </li>
    <li class="step hover:cursor-pointer step-success" onclick="go(7)">
      U목록
    </li>
    <li class="step hover:cursor-pointer step-success" onclick="go(8)">
      O목록
    </li>
    <li class="step hover:cursor-pointer" onclick="go(9)">링크</li>
    <li class="step hover:cursor-pointer" onclick="go(10)">이미지</li>
  </ul>
</div>
<main class="p-5 container mx-auto">
  <!-- 챕터8 -->
  <div>
    <h2 class="font-bold text-3xl text-center my-5">
      Chapter 8. 순서가 있는 목록(Ordered List)
    </h2>
    <div class="flex flex-wrap">
      <div class="w-full lg:w-1/2">
        {% include 'common/example_title.html' %}
        <ul>
          <li>1. 첫 번째 목록 아이템입니다.</li>
          <li>1. 두 번째 목록 아이템입니다.</li>
          <li>1. 세 번째 목록 아이템입니다.</li>
        </ul>
      </div>
      <div class="w-full lg:w-1/2 text-center">
        {% include 'common/grammar_title.html' %}
        <p>
          각 항목 앞에 숫자와 마침표를 입력하면 순서가 있는 목록이 생성됩니다.
          <br />
          이때 숫자의 종류는 상관 없습니다.
          <br />
          예를 들어 '1.', '1.', '1.'을 입력해도 화면에는 '1.', '2.', '3.'으로
          표현됩니다.
          <br />
          가독성을 위해 마침표 다음에는 1칸의 공백을 넣어주세요.
        </p>
      </div>
    </div>
    <div class="divider text-gray-400">Let's Practice!</div>
    <div class="flex flex-wrap">
      <div class="w-full lg:w-1/2 px-20">
        <p class="text-center fond-bold text-xl mb-5">마크다운을 작성하세요</p>
        <textarea id="answer" class="w-full textarea textarea-success h-36" oninput="checkAnswer()"
          autofocus></textarea>
        <button class="btn btn-xs" onclick="showAnswerModal()">
          잘 모르겠다면 여기를 눌러 정답을 확인하세요 🤔
        </button>
      </div>
      <div class="w-full lg:w-1/2 px-20">
        <p class="text-center fond-bold text-xl my-5">이 화면을 구현하세요</p>
        <input id="question" class="border-2 p-5 border-success rounded-xl h-36 hidden" value="{{ question }}" />
        <input id="html" class="border-2 p-5 border-success roundedks-xl h-36 hidden" value="{{ html }}" />
        <div id="previewOutput" class="border-2 p-5 border-success rounded-xl h-36">
          {{ html }}
        </div>
      </div>
    </div>
    <div class="text-center">
      <span id="chapter_id" class="hidden">{{ chapter_id }}</span>
      <a href="9" class="btn btn-lg btn-success text-white mt-10 lg:mt-0" onclick="postProgress()">다음 챕터 ➡️</a>
    </div>
  </div>
  <script>

    function postProgress() {
      const chapter_id = document.getElementById("chapter_id").innerText;
      postUpdateMyProgress(parseInt(chapter_id));
    }

    staticRendering()

  </script>
</main>

{% endblock %}