{% extends "layout/base.html" %}
<!-- 레이아웃 -->
{% block body %} {% include 'common/navbar.html' %}
<link rel="stylesheet" type="text/css" href="/static/markdown.css" />
<div class="text-center">
  <ul class="steps text-xs">
    <li class="step hover:cursor-pointer step-success" onclick="go(1)">헤더</li>
    <li class="step hover:cursor-pointer step-success" onclick="go(2)">
      줄바꿈
    </li>
    <li class="step hover:cursor-pointer step-success" onclick="go(3)">
      수평선
    </li>
    <li class="step hover:cursor-pointer step-success" onclick="go(4)">
      스타일
    </li>
    <li class="step hover:cursor-pointer step-success" onclick="go(5)">인용</li>
    <li class="step hover:cursor-pointer step-success" onclick="go(6)">
      코드블록
    </li>
    <li class="step hover:cursor-pointer step-success" onclick="go(7)">
      U목록
    </li>
    <li class="step hover:cursor-pointer step-success" onclick="go(8)">
      O목록
    </li>
    <li class="step hover:cursor-pointer step-success" onclick="go(9)">링크</li>
    <li class="step hover:cursor-pointer step-success" onclick="go(10)">
      이미지
    </li>
  </ul>
</div>
<main class="p-5 container mx-auto">
  <!-- 챕터10 -->
  <div>
    <h2 class="font-bold text-3xl text-center my-5">Chapter 10. 이미지</h2>
    <div class="flex flex-wrap">
      <div class="w-full lg:w-1/2">
        {% include 'common/example_title.html' %}
        <ul>
          <li>![정글](http://127.0.0.1:4999/static/image/jungle.jpeg)</li>
        </ul>
      </div>
      <div class="w-full lg:w-1/2 text-center">
        {% include 'common/grammar_title.html' %}
        <p>![대체 텍스트](이미지 URL)</p>
      </div>
    </div>
    <div class="divider text-gray-400">Let's Practice!</div>
    <div class="flex flex-wrap">
      <div class="w-full lg:w-1/2 px-20">
        <p class="text-center fond-bold text-xl mb-5">마크다운을 작성하세요</p>
        <textarea id="answer" class="w-full textarea textarea-success h-48" oninput="checkAnswer()"
          autofocus></textarea>
        <button class="btn btn-xs" onclick="showAnswerModal()">
          잘 모르겠다면 여기를 눌러 정답을 확인하세요 🤔
        </button>
      </div>
      <div class="w-full lg:w-1/2 px-20">
        <p class="text-center fond-bold text-xl mb-5">이 화면을 구현하세요</p>
        <input id="question" class="border-2 p-5 border-success rounded-xl h-48 hidden" value="{{ question }}" />
        <input id="html" class="border-2 p-5 border-success roundedks-xl h-36 hidden" value="{{ html }}" />

        <div class="border-2 p-5 border-success rounded-xl h-48">
          <div id="previewOutput" class="w-36"></div>
          <!-- <img src="{{ url }}" class="w-36" /> -->

        </div>
        <div class="text-primary">
          <p>대체 텍스트: {{ text }}</p>
          <p>이미지 URL: {{ url }}</p>
        </div>
      </div>
    </div>

    <div class="text-center">
      <span id="chapter_id" class="hidden">{{ chapter_id }}</span>
      <a href="/classroom/graduation" class="btn btn-lg btn-success text-white" onclick="postProgress()">
        강의 완료 🎉
      </a>
    </div>
  </div>
  <script>
    markdownStaticRendering();
    function postProgress() {
      const chapter_id = document.getElementById("chapter_id").innerText;
      postUpdateMyProgress(parseInt(chapter_id));
    }
  </script>
</main>
{% endblock %}