{% extends "layout/base.html" %}
<!-- 레이아웃 -->
{% block body %} {% include 'common/navbar.html' %}
<body class="container mx-auto">
  <div class="text-center">
    <ul class="steps text-xs">
      <li class="step step-success">헤더</li>
      <li class="step step-success">줄바꿈</li>
      <li class="step">수평선</li>
      <li class="step">스타일</li>
      <li class="step">인용</li>
      <li class="step">코드블록</li>
      <li class="step">목록U</li>
      <li class="step">목록O</li>
      <li class="step">링크</li>
      <li class="step">이미지</li>
    </ul>
  </div>
  {% endblock %}
</body>
