{% extends "layout/base.html" %}
<!-- 레이아웃 -->
{% block body %} {% include 'common/navbar.html' %}
<body class="container mx-auto">
  <div class="text-center">
    <ul class="steps text-xs">
      <li class="step hover:cursor-pointer" onclick="go('/classroom/chapter/1')">헤더</li>
      <li class="step hover:cursor-pointer" onclick="go('/classroom/chapter/2')">줄바꿈</li>
      <li class="step hover:cursor-pointer" onclick="go('/classroom/chapter/3')">수평선</li>
      <li class="step hover:cursor-pointer" onclick="go('/classroom/chapter/4')">스타일</li>
      <li class="step hover:cursor-pointer" onclick="go('/classroom/chapter/5')">인용</li>
      <li class="step hover:cursor-pointer" onclick="go('/classroom/chapter/6')">코드블록</li>
      <li class="step hover:cursor-pointer" onclick="go('/classroom/chapter/7')">U목록</li>
      <li class="step hover:cursor-pointer" onclick="go('/classroom/chapter/8')">O목록</li>
      <li class="step hover:cursor-pointer" onclick="go('/classroom/chapter/9')">링크</li>
      <li class="step hover:cursor-pointer" onclick="go('/classroom/chapter/10')">이미지</li>
    </ul>
  </div>
  {% endblock %}
</body>
