{% extends "layout/base.html" %}
<!-- 레이아웃 -->
{% block body %} {% include 'common/navbar.html' %}
<main>
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm mt-10">
      <h2
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
      >
        마이 페이지
      </h2>
    </div>

    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" method="POST">
        <div>
          <label
            for="email"
            class="block text-sm font-medium leading-6 text-gray-900"
            >이메일 주소</label
          >
          <div class="mt-2">
            <input
              id="email"
              type="email"
              required
              class="input input-bordered input-success w-full"
              disabled
              value="{{ email }}"
            />
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label
              for="nickname"
              class="block text-sm font-medium leading-6 text-gray-900"
              >닉네임</label
            >
          </div>
          <div class="mt-2">
            <input
              id="nickname"
              name="nickname"
              type="text"
              value="{{ nickname }}"
              required
              class="input input-bordered input-success w-full"
              maxlength="8"
            />
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="btn w-full bg-primary bg-emerald-400 text-white"
          >
            저장
          </button>
        </div>
      </form>
    </div>
    <div class="flex justify-center my-20">
      <a class="link link-error" onclick="confirm_delete_user()">회원 탈퇴</a>
    </div>
  </div>
</main>
<script>
  function confirm_delete_user() {
    const result = prompt(
      "회원 탈퇴 시 모든 정보가 삭제되며 복구할 수 없습니다. 회원 탈퇴를 원하시면 '회원탈퇴'를 입력해 주세요."
    );

    if (result == "회원탈퇴") {
      // 사용자가 확인을 누른 경우
      fetch("/delete-user", {
        method: "DELETE", // DELETE 메서드를 사용하여 서버에 요청
        headers: {
          "Content-Type": "application/json", // JSON 요청
        },
      })
        .then((response) => response.json())
        .then((data) => {
          alert(data.message); // 서버에서 반환한 메시지를 표시
          if (data.success) {
            // 탈퇴 성공한 경우
            document.cookie =
              'cookieName' + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            window.location.href = "/";
          }
        })
        .catch((error) => {
          console.log("Error:", error);
          alert("서버 오류가 발생했습니다.");
        });
    } else {
      alert("취소되었습니다.");
    }
  }
</script>
{% endblock %}
