{% extends "layout/base.html" %}
<!-- 레이아웃 -->
{% block body %}
<main>
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm mt-10">
      {% include 'common/logo.html' %}
      <h2
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
      >
        회원가입
      </h2>
    </div>

    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" action="#" method="POST">
        <div>
          <label
            for="email"
            class="block text-sm font-medium leading-6 text-gray-900"
            >이메일 주소</label
          >
          <div class="mt-2">
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              required
              placeholder="로그인 아이디로 이메일 주소를 사용합니다."
              class="input input-bordered input-success w-full"
            />
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label
              for="password"
              class="block text-sm font-medium leading-6 text-gray-900"
              >비밀번호</label
            >
          </div>
          <div class="mt-2">
            <input
              id="password"
              name="password"
              type="password"
              autocomplete="current-password"
              required
              class="input input-bordered input-success w-full"
              placeholder="4자리 이상 숫자/대소문자/특수문자"
            />
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label
              for="password"
              class="block text-sm font-medium leading-6 text-gray-900"
              >비밀번호 확인</label
            >
          </div>
          <div class="mt-2">
            <input
              id="password"
              name="password"
              type="password"
              autocomplete="current-password"
              required
              class="input input-bordered input-success w-full"
              placeholder="비밀번호를 다시 입력해 주세요."
            />
          </div>
        </div>

        <div>
          <label
            for="email"
            class="block text-sm font-medium leading-6 text-gray-900"
            >닉네임</label
          >
          <div class="mt-2">
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              required
              placeholder="유효한 이메일 주소를 입력해 주세요."
              class="input input-bordered input-success w-full"
            />
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="btn w-full bg-primary bg-emerald-400 text-white"
          >
            회원가입
          </button>
        </div>
      </form>

      <p class="mt-10 text-center text-sm text-gray-500">
        이미 회원이신가요?
        <a href="/signin" class="font-bold text-markcraft link">로그인하기</a>
      </p>
    </div>
  </div>
</main>
{% endblock %}
