<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Markcraft</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon" />
  <link rel="icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  <script src="/static/main.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked@3.0.7/marked.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://127.0.0.1:4999/" />
    <meta property="og:title" content="Markcraft" />
    <meta property="og:image" content="http://127.0.0.1:4999/static/image/og_logo.png" />
    <meta property="og:description" content="몰입해서 배우는 마크다운 튜토리얼" />
    <meta property="og:site_name" content="Markcraft" />
    <meta property="og:locale" content="en_US" />
    <!-- 다음의 태그는 필수는 아니지만, 포함하는 것을 추천함 -->
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <title>Markcraft</title>
    <!-- htmlToMarkdown -->
    <script src="https://unpkg.com/turndown/dist/turndown.js"></script>
    <script src="/static/htmlToMarkConver.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <script src="/static/main.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  </head>
</head>

<body>
  {% block body %} {% endblock %}
</body>

</html>